.profile-dashboard
	padding: 40px 20px
	display: flex
	gap: 40px
	&__left-column
		padding: 10px
		width: 20%
		background: var(--color-white)
		border-radius: 20px
	&__right-column
		width: 80%
		background: var(--color-white)
		border-radius: 20px

.links-item
	display: flex
	align-items: center
	padding: 5px 5px
	border-radius: 5px
	cursor: pointer
	text-align: start
	margin-bottom: 5px
	font-size: 18px
	color: #000
	&:first-child
		font-size: 20px
		font-weight: bold
	&:hover
		background: var(--color-grey-light)

