.product-card
	position: relative
	margin-right: 20px
	width: 300px
	display: flex
	flex-direction: column
	border: 1px solid #d6d6d6
	&__wishlist
		cursor: pointer
		position: absolute
		right: 10px
		top: 10px
		color: var(--color-grey-dark)
		&:hover
			color: red
		&.active
			color: red
	&__cart
		background: var(--color-makita-light)
		color: var(--color-white)
		position: absolute
		right: 10px
		bottom: 20px

	&__image-wrapper
		cursor: pointer
		width: 260px
		height: 260px
		img
			padding: 30px
			width: 260px
	&__info
		display: flex
		padding: 20px
		flex-direction: column
		border-top: 1px solid #d6d6d6
	&__model
		margin-bottom: 20px
	&__title
		font-weight: bold
		margin-bottom: 20px