.home
	position: relative
.products
	position: relative
	display: flex
	flex-direction: column
	width: 100%
	.title
		text-align: center
		margin-bottom: 50px
	.wrapper
		width: 100%
		display: flex
		justify-content: space-between
		gap: 20px
		padding-left: 20px
.banners
	position: relative

.active
	display: flex
.hidden
	display: none