.pagination
	position: absolute
	display: flex
	justify-content: center
	align-items: center
	width: 320px
	color: var(--color-grey-dark)
	button
		width: 120px
		margin-right: 20px
		&:hover
			background: var(--color-makita-light)
	.current
		font-weight: bold
		color: var(--color-makita-dark)
	div
		width: 20px
		margin-right: 10px