@mixin column
	display: flex
	flex-direction: column

@mixin block
	padding: 10px
	border-radius: 10px
	border: 1px solid #000000d8

@mixin rating
	align-items: center
	max-height: 250px
	width: 40%


.container
	@include column
	margin: 0 auto
	align-items: center
	width: 80%
	margin-bottom: 40px
	h3
		margin-bottom: 20px

.wrapper
	width: 100%
	min-height: 250px
	display: flex
	justify-content: space-between
	gap: 20px
	padding-top: 20px
	border-top: 1px solid #0000002c

.reviews
	@include column
	padding-bottom: 0
	width: 70%
	min-height: 250px
	overflow-y: auto


.stars
	display: flex
	width: fit-content
	margin-bottom: 20px

.total
	@include column
	@include rating
	span
		font-size: 20px
	.stars
		position: relative
		top: 30px
		i
			font-size: 30px

.rate
	@include column
	@include rating
	.stars
		i
			cursor: pointer
			font-size: 30px
			&:hover
				color: var(--color-makita-light)
	.text
		@include block
		width: 90%
		height: 100px
		resize: none
		outline: none
		overflow-y: auto
		margin-bottom: 20px
		&:focus-visible
			border: 2px solid var(--color-makita-light)
	.btn
		width: 70%
		border: 1px solid #00000000
		&:hover
			border: 1px solid var(--color-makita)
			color: var(--color-makita)
			background: white

