.loader-box {
	width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top:-50px;
}
.loader {
	width: 60px;
	aspect-ratio: 3;
	background: radial-gradient(circle closest-side, #008290 90%, #0000) 0 /
		calc(100% / 3) 100% space;
	clip-path: inset(0 100% 0 0);
	animation: l1 1s steps(4) infinite;
}
@keyframes l1 {
	to {
		clip-path: inset(0 -34% 0 0);
	}
}
